body {
    background-color: #E0E0E0;
}

.ui-widget-content {
    background-color: #E0E0E0;
}

h2 {
    margin-bottom: 10px
}

/**/
.authorization-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logout-form {
    margin-top: 10px;
}